<div class="has-text-centered">
    <h1 class="is-size-1 my-3">Welcome to {{otherUser.username}}'s page</h1>

    {{#if areFriends}}
    <p>You are friends with this user!</p>
    {{else}}
    <p>Add friend (add button later)</p>
    {{/if}}

    <p>{{otherUser.username}} has {{otherUserFriendNum}} friends!</p>
</div>