{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/chat.css" rel="stylesheet">
{{/section}}
<h1 class="has-text-centered is-size-4 mb-2 mx-2"><span id="connected"></span> users currectly connected.</h1>
<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" data-user={{user.username}} /><button id="send">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/JS/chat.js"></script>