{{#section 'notification'}}
Friend Requests: {{requests}}
{{/section}}


<div class="container">
    <h1 class="is-size-1 has-text-centered mt-5">Friend Requests</h1>
    <div class="line mb-5"></div>
    <div>
        {{#if friendRequests}}
        {{#each friendRequests as |request|}}
        <div class="is-size-4 friendRequestCard custom-flex">
            <div class="columns is-mobile">
                <div class="column is-half">
                    {{request.first_name}} {{request.last_name}}
                </div>
                <div class="column is-one-third">
                    <button class="button is-primary">Accept</button>
                    <button class="button is-danger">Reject</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>You have no friend requests</p>
        {{/if}}
    </div>
</div>