{{#section 'notification'}}
Friend Requests: {{requests}}
{{/section}}


<div class="container custom-flex">
    <h1 class="is-size-1">Friend Requests</h1>
    <ul>
        {{#if requests}}

        {{else}}
        <p>You have no friend requests</p>
        {{/if}}
    </ul>
</div>