{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/main.css" rel="stylesheet">
{{/section}}

<header class="background-wrapper">
    <h1 class="has-text-centered is-size-2 my-0 pt-2 has-text-white">Welcome to #Moods</h1>
    <h2 class="has-text-centered is-size-3 my-0 pb-4 has-text-white">Login or register now to create your own playlist
        and notes!</h2>
    <div class="background-img">
    </div>
</header>