{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/main.css" rel="stylesheet">
{{/section}}

{{#section 'notification'}}
Friend Requests: {{requests}}
{{/section}}


<header class="background-wrapper">
    <h1 class="has-text-centered is-size-2 my-0 py-4 has-text-white">Welcome to #Moods (title pending)</h1>
    <div class="background-img">
    </div>
</header>