{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div class="columns my-6"></div>

<div class="columns my-6">

    <div class="column is-half is-offset-one-quarter">

        <div class="card has-background-dark">
            <div class="card-header has-text-white">
                <p class="ml-4 my-2 is-size-3">Please Enter Your Log In Credentials</p>
            </div>
            <div class="card-content">

                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="email" placeholder="Email" id="emailInput">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" id="passwordInput">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="has-text-danger is-hidden" id='invalidPassword'>Incorrect password, please try again</p>
                  </div>

                  <button class="button is-link" id="loginButton">LOG IN</button>
        
            </div>
        </div>

    
    </div>


</div>

<div class="columns">
    <div class="column is-offset-one-quarter">
        <h2>No account created? Click button below to get started!</h2>
        <button class="button is-success" id="signupButton"><a href='/signup'>Sign up here</a></button>
    </div>
</div>

<script src='/JS/login.js'></script>