{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<header class="container">
    <h1 class="has-text-centered is-size-1 mt-3 mb-5">Welcome {{user.username}}</h1>
</header>

<main class="container.is-fullhd">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="options-wrapper pb-3">
                <h2 class="has-text-centered is-size-3 mb-2">User Options</h2>
                <div class="line mb-3"></div>

                <div class="custom-flex mb-3">
                    <a href="/noteForm" class="button options-button">Create Note</a>
                </div>

                {{!-- Button to call field to search users --}}
                <div class="has-text-centered center-stuff">
                    <div class="custom-flex mb-3">
                        <button id="findUsers" class="button options-button">Search For Users</button>
                    </div>
                </div>
                {{!-- Search users --}}
                <div id="userSearchFields" class="hidden">
                    <div class="field options-button has-text-centered center-stuff">
                        <label for="userSearch" class="label has-text-light">Search Users</label>
                        <div class="control">
                            <input id="userSearch" class="input" type="text" placeholder="Username">
                        </div>
                        <p class="help">This will direct you to their page</p>
                        <p id="hiddenUserError" class="has-text-centered red hidden">Could not find user</p>
                    </div>
                    {{!-- submit user search or cancel --}}
                    <div class="field is-grouped mb-3 center-stuff">
                        <div class="control center-stuff">
                            <button id="submitUserSearch" class="button is-link">Search</button>
                        </div>
                        <div class="control center-stuff">
                            <button id="cancelUserSearch" class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="custom-flex mb-3">
                    <button id="findSongs" class="button options-button"><a class="a" href="/songs">Find
                            Songs</a></button>
                </div>

                <div class="custom-flex mb-3">
                    <button id="viewPlaylists" class="button options-button"> <a class="a" href="/playlists">View
                            Playlists</a></button>
                </div>

                <div class="custom-flex mb-3">
                    <a href="/friends" class="button options-button">View Your Friends</a>
                </div>
            </div>
        </div>

        <div class="column is-two-thirds">
            <div class="bg-555">
                <h2 class="has-text-centered is-size-3 mb-5">Recent Notes From Friends</h2>

                <div class="note-container">
                    {{!-- If user has friends --}}
                    {{#if userFriendNum}}
                    {{!-- If friends have any posts --}}
                    {{#if friendPostsLength}}
                    {{#each friendsToDisplay as |friend|}}
                    {{> friend-post-info}}
                    {{/each}}
                    {{else}}
                    <p class="has-text-centered">Your friends have no posts yet</p>
                    {{/if}}
                    {{else}}
                    <p class="has-text-centered">You don't have any friends yet!</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/JS/notifications.js"></script>
<script src="/JS/searchUsers.js"></script>