{{#section 'head'}}
<!-- stuff that goes in head of only this page...example: -->
<link href="/CSS/style.css" rel="stylesheet">
{{/section}}

<div id="form" class="container mt-5">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label for="noteTitle" class="label">Title</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input id="noteTitle" class="input" type="text" placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>

        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Sooo...?</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Songs</option>
                            <option>Playlist</option>
                            <option>Mood</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label for="noteDescription" class="label">Dear diary...</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea id="noteDescription" class="textarea"
                        placeholder="Explain how it made you feel"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button id="noteSubmit" class="button is-primary">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/JS/notes.js"></script>