{{#section 'head'}}
<!-- stuff that goes in head of only this page...example: -->
{{/section}}


<body>
    <div class='container'>
        <div class='jumbotron text-center'>
            <h1>#MOODS</h1>
        </div>
    </div>
<div>
  <input name="Note_Title" placeholder="enter your title">
</div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {{!-- <input name="name" placeholder="enter your mood">
            <input name="band" placeholder="enter song"> --}}
            <button type='submit'>submit</button>
            </form>
        </div>
    </div>
    </div>
</body>