{{#section 'head'}}
<!-- stuff that goes in head of only this page...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div id="form" class="container mt-5 py-3 bg-555 has-text-light">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label for="noteTitle" class="label has-text-light">Title</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input id="noteTitle" class="input" type="text" placeholder="Name">
                    <span class="icon is-small is-left">
                        {{!-- <i class="fas fa-user"></i> --}}
                    </span>
                </p>
            </div>

        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label for="noteDescription" class="label has-text-light">Dear diary...</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea id="noteDescription" class="textarea"
                        placeholder="Explain how it made you feel"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button id="noteSubmit" class="button is-primary">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="songForm" class="container mt-5 py-3 bg-555 has-text-light hidden">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label has-text-light mx-3">Would you like to add a song to the note?</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control center-stuff">
                    <button id="linkSong" class="button">
                        Yes (click me)
                    </button>
                    <button id="rejectLink" class="button">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="songSearchForm" class="field is-horizontal hidden">
        <div class="field-label is-normal">
            <label for="songInput" class="label has-text-light mx-3">What is the name of the song?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input id="songInput" class="input" type="text" placeholder="Name"> <button id="submitSong"
                        class="button is-link ml-2">Add Song</button>
                </p>
            </div>
        </div>
    </div>
</form>


<script src="/JS/notes.js"></script>