{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div class="container">
    <div class="columns custom-flex my-5">
        <div class="column is-two-thirds bg-555 friends my-3 pt-3 mx-5">
            <h1 class="has-text-centered is-size-2 mb-4">Your Playlists</h1>
            <div class="line mb-3"></div>
            <div class="columns custom-flex">
                <ul class="myPlaylists">
                    {{#if user.playlists}}
                    {{#each user.playlists as |playlist|}}
                    <li><a href='/playlists/{{playlist.id}}'>{{playlist.name}}</a></li>
                    {{/each}}
                    {{else}}
                    <li>You do not have any playlists yet!</li>
                    {{/if}}
                    <li><button id='createBtn'>Create
                            New Playlist</button></li>
                    <li>
                        <div id="form" class="container mt-5 hidden">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label for="playlistTitle" class="label has-text-light">Title</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <input id="playlistTitle" class="input" type="text" placeholder="Name">
                                            <span class="icon">
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">

                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button id="playlistSubmit" class="button is-primary hidden">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src='/JS/createNewPlaylist.js'></script>