{{#section 'head'}}
<link href="/CSS/chat.css" rel="stylesheet">
{{/section}}

<div class="container.is-fullhd">
    <div class="columns is-mobile">
        <div class="column is-one-third px-5 custom-border-right">test</div>
        <div class="column is-two-thirds px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, quidem
            necessitatibus facere similique, eius quas reprehenderit inventore at delectus modi aliquam ducimus
            doloremque amet. Consectetur excepturi nesciunt nemo molestias optio autem cupiditate enim, sed,
            consequuntur beatae at libero, repudiandae quae facilis nulla odio dicta facere necessitatibus iste quas
            dolorem.</div>
    </div>
</div>