<div class="columns my-6"></div>

<div class="columns my-6">

    <div class="column">

        <div class="card">
            <div class="card-header">
                Please Enter In Your Information
            </div>
            <div class="card-content">

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="First name" id='firstName'>
                    </div>
                  </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Last name" id='lastName'>
                    </div>
                  </div>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Username" id='username'>
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                  </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Password" id='password'>
                        <span class="icon is-small is-left">
                          <i class="fas fa-key"></i>
                        </span>
                  </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email" id='email' >
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                  </div>
                                    
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link" id="signupButton">SIGNUP</button>
                    </div>
                    <div class="control">
                      <button class="button is-link is-light">Cancel</button>
                    </div>
                  </div>
        
            </div>
        </div>

    
    </div>

    </div>
</div>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <h2>Already have an account? Click the button below to get logged in!</h2>
    </div>
</div>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">   
         <button class="button is-info" id="loginSignup"><a href='/login'>Log In</a></button>
    </div>
</div>

<script src='/JS/signup.js'></script>