{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div class="columns my-6"></div>

<div class="columns my-6">

    <div class="column">

        <div class="card">
            <div class="card-header">
                Please Enter Your Current Password and New Password Below
            </div>
            <div class="card-content">

                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="currentPassword" placeholder="Current Password" id="currentPassword">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="newPassword" placeholder="New Password" id="newPassword">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>

                  <button class="button is-link" id="updatePasswordButton">UPDATE PASSWORD</button>
        
            </div>
        </div>

    
    </div>


</div>


<script src='/JS/updatePassword.js'></script>