{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}


<div class="container.is-fullhd my-5">
    <div class="columns custom-flex">
        <div class="column is-one-quarter bg-555 custom-border-right">
            <p class="has-text-centered">David put stuff here</p>
        </div>
        <div class="column is-two-thirds bg-555 pt-4">
            <h1 class="is-size-2 has-text-centered mb-3">My Notes</h1>
            <div class="line mb-3"></div>

            {{#if loggedIn}}
            {{#each user.Notes as |note|}}
            <div class="custom-card-header">
                <h2 class="is-size-3">Title: {{note.title}}</h2>
            </div>
            <div class="custom-card-body">
                <p>Note description: {{note.description}}</p>
            </div>
            <button data-note_id={{note.id}} class="button is-danger mt-2">Delete Note</button>
            <hr>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>


{{!-- <div class="dropdown">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Click me</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Songs
            </a>
            <a href="#" class="dropdown-item">
                Playlist
            </a>
            <a href="#" class="dropdown-item">
                mood
            </a>
            <a href="#" class="dropdown-item">
                notes
            </a>
        </div>
    </div>
</div> --}}