{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}


<div class="container.is-fullhd my-5">
    <div class="columns custom-flex">
        <div class="column is-one-quarter bg-555 custom-border-right">
            <aside class='menu'>
                <p class='menu-label'>
                    General
                </p>
                <ul>
                    <li><a href="/songs">Songs</a></li>
                    <li><a href="/playlists">Playlists</a></li>
                </ul>
                <p class='menu-label'>
                    Settings
                </p>
                <ul>
                    <li><a href="/updatepassword">Update Password</a></li>
                </ul>
            </aside>




        </div>
        <div class="column is-two-thirds bg-555 pt-4">
            <h1 class="is-size-2 has-text-centered mb-3">My Notes</h1>
            <div class="line mb-3"></div>

            {{#if loggedIn}}
            {{#each user.Notes as |note|}}
            <div class="custom-card-header">
                <h2 class="is-size-3">Title: {{note.title}}</h2>
            </div>
            <div class="custom-card-body">
                <p>Note description: {{note.description}}</p>
            </div>
            <button data-note_id={{note.id}} class="button is-danger mt-2" id= "noteDelete">Delete Note</button>
            <hr>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>
 <script src="/JS/deleteNote.js"></script>