{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/member.css" rel="stylesheet">
{{/section}}

<div class="dropdown">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Click me</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">
                Songs
            </a>
            <a href="#" class="dropdown-item">
                Playlist
            </a>
            <a href="#" class="dropdown-item">
                mood
            </a>
            <a href="#" class="dropdown-item">
                notes
            </a>
        </div>
    </div>
</div>