body, html {
    background: #666;
    color: white;
}

.custom-flex {
    display: flex;
    justify-content: center;
}

.friend-note-wrapper {
    background: #555;
    width: 80%;
}

.line {
    width: 100%;
    height: 5px;
    background: teal;
}

.note-container {
    min-height: 700px;
}