body, html {
    background: #111;
    color: white;
    height: 100%;
}

.a {
    color: black !important;
}

.options-wrapper {
    background: #555;
    margin-right: 20px;
    height: 100%;
}

.bg-555 {
    background: #555;
}

.custom-border-right {
    border-right: 1px solid #111;
}

.note-container {
    min-height: 700px;
}

.options-button {
    width: 80%;
}

.friend {
    cursor: pointer;
}

.friends {
    min-height: 700px;
}

.center-stuff {
    margin: 0 auto;
}

.red {
    color: red;
}

#menuChoice:hover {
    color: greenyellow;
}

@media only screen and (max-width: 768px) {
    .options-wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }

    .friend-note-wrapper {
        margin: 10px 30px;
    }
}