body, html {
    /* background: #111; */
    background: linear-gradient(to bottom right, rgb(2, 2, 2), 75%, rgb(129, 129, 129)); 
    color: white;
    height: 100%;
}

.a {
    color: black !important;
}

a :hover {
    color: lightblue;
}

.options-wrapper {
    background: #555;
    /* background:
    -webkit-repeating-linear-gradient(
    top, #565656, #131313 2px, #565656 1px
  ); */
    margin-right: 20px;
    height: 100%;
}

.bg-555 {
    background: #555;
    /* background:
    -webkit-repeating-linear-gradient(
    top, #565656, #131313 2px, #565656 1px
  ); */
}

.custom-border-right {
    border-right: 1px solid #111;
}

.note-container {
    min-height: 700px;
}

.options-button {
    width: 80%;
}

.friend {
    cursor: pointer;
}

.friends {
    min-height: 700px;
}

.center-stuff {
    margin: 0 auto;
}

.red {
    color: red;
}


#menuChoice:hover {
    color: greenyellow;
}

#songInput {
    width: 25%;

}

@media only screen and (max-width: 768px) {
    .options-wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }

    .friend-note-wrapper {
        margin: 10px 30px;
    }
}